<div class="flex flex-col justify-center items-center h-screen">
    <h1 class="text-3xl font-bold mb-4">{{environment.appName}}</h1>
    <div class="flex items-center space-x-2">
        <div class="w-4 h-4 bg-blue-500 rounded-full animate-bounce"></div>
        <div class="w-4 h-4 bg-green-500 rounded-full animate-bounce"></div>
        <div class="w-4 h-4 bg-red-500 rounded-full animate-bounce"></div>
    </div>
</div>
