<nav class="bg-gray-800 fixed w-full z-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex-shrink-0">
        <a class="text-white font-bold tracking-1" href="#"><span class="tracking-1">{{environment.appName}}</span></a>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#">Home</a>
          <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#">About</a>
          <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#">Services</a>
          <a class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium" href="#">Contact</a>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button type="button" class="bg-gray-900 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <!-- Icon when menu is open. -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#">Home</a>
      <a class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#">About</a>
      <a class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#">Services</a>
      <a class="text-gray-300 hover:text-white block px-3 py-2 rounded-md text-base font-medium" href="#">Contact</a>
    </div>
  </div>
</nav>
